@media (max-width: 615px) {
    .navigation-wrapper {
        flex-direction: column;
        height: 100%;
    }
    .navigation-wrapper > .center-column {
        order: 1;
        width: 100%;
    }

    .navigation-wrapper > .left-column {
        order: 2;
        margin-top: 15px;
        margin-bottom: 15%;
    }

    .navigation-wrapper > .right-column {
        order: 3;
        margin-top: 10px;
        margin-bottom: 15%;
    }

    .links-wrapper {
        flex-direction: column;
        margin-bottom: 20px;
    }

    .links-wrapper > .nav-link {
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 1.5em;
        width: 100%;

    }

    .footer {
        height: 600%;
    }

   .square-wrapper {
       flex-direction: column;
       height:100%;
       
   }
}

